<script>
  /* import tomato from "./tomato.png"  */
  import Avatar from "../component/Avatar.svelte";
  import { openpeeps } from "../store/persona.js";
</script>

<header class="flex w-full h-auto my-2 cursor-default">
  <div class="flex min-w-max self-start">
    <div
      class="flex flex-col justify-center text-xl xl:text-5xl font-thin ml-2 xl:ml-4 text-red-600"
    >
      Pomodoron
    </div>
    <div
      class="flex flex-col xl:justify-end text-xs xl:text-xl font-extralight ml-1 xl:ml-2 mr-2 text-red-600 pt-2"
    >
      a task-based pomodoro timer
    </div>
  </div>
  <div class="flex-grow w-full" />
  <div class="flex justify-center min-w-max self-end ml-3 xl:mr-4">
    <div class="flex flex-col justify-center">
      <Avatar>
        {@html $openpeeps}
      </Avatar>
    </div>
  </div>
</header>

<style>
</style>
