<script>
  import { author, text } from "../store/quote.js";
</script>

<div class="flex flex-col text-xs xl:text-base leading-tight font-extralight h-full mr-1 cursor-default">
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-4 w-4"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z"
      />
      <path
        d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z"
      />
    </svg>
  </div>
  <div class="flex-1 text-blue-gray-800">
  {$text}
  </div>
  <div class="self-end text-right w-full">
    {#if $author == null}
      Anonymous
    {:else}
      {$author}
    {/if}
  </div>
</div>
