<script>
  import TimeCard from "./TimeCard.svelte";
  import { dow, dom, month, year, hours, minutes } from "../store/time.js";
</script>

<div class="flex cursor-default h-full">
  <div
    class="flex-1 flex flex-col bg-red-100 rounded-md xl:rounded-2xl overflow-hidden mr-1 xl:mr-2"
  >
    <div
      class="py-1 bg-red-600 text-blue-gray-50 text-lg text-center font-medium uppercase"
    >
      {$dow}
    </div>
    <div
      class="py-2 flex-1 bg-blue-gray-50 flex flex-col justify-center text-6xl font-thin"
    >
      <div class="flex justify-center">
        {$dom}
      </div>
    </div>
    <div class="py-2 bg-blue-gray-200 text-center font-light uppercase">
      {$month}
      {$year}
    </div>
  </div>
  <div class="flex-1 grid grid-rows-2 grid-cols-2 gap-1">
    <TimeCard>
      {$hours[0]}
    </TimeCard>
    <TimeCard>
      {$hours[1]}
    </TimeCard>
    <TimeCard>
      {$minutes[0]}
    </TimeCard>
    <TimeCard>
      {$minutes[1]}
    </TimeCard>
  </div>
</div>

