<!-- 
<div class="flex justify-center bg-blue-gray-800 rounded m-px  xl:rounded-md text-lg xl:text-5xl font-extralight xl:font-thin text-blue-gray-100">
 <div class="flex flex-col justify-center xl:my-5">
 <slot></slot> 
 </div>
</div>
-->

<div class="flex justify-center bg-blue-gray-800 rounded-xl text-5xl font-extralight text-blue-gray-100 ">
 <div class="flex flex-col justify-center">
 <slot></slot> 
 </div>
</div>
