<div class="flex flex-col my-4  h-full rounded-md overflow-hidden bg-red-600">
  <div class="bg-yellow-200 py-2 indent-md">header</div>
  <div class="flex-1 h-full bg-yellow-100 indent-md">...</div>
</div>
