<script>
  import { createEventDispatcher } from "svelte";
  import { buttonEvent, isTodoDefined } from "../store/task.js";
  import { accumulativeTomatoes, timing } from "../store/current.js";
  const dispatch = createEventDispatcher();

  const icon = {
    close: `
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-rocket"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"
              />
              <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3" />
              <circle cx="15" cy="9" r="1" />
            </svg>
          </div>
    `,
    define: `
<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M5 12l5 5l10 -10" />
</svg>
    `,
  };

  $: define = $buttonEvent === "define" ? true : false;
  $: close = !define;

  let hovered = false;
  const handleMouseEnter = () => {
    if ($timing || $isTodoDefined) return;
    hovered = true;
  };
  const handleMouseLeave = () => {
    hovered = false;
  };
  const handleClick = () => {
    dispatch($buttonEvent);
    hovered = false;
  };

  $: label = define && hovered
</script>

<button
  class="w-32 "
  class:define
  class:close
  class:label
  class:hovered
  on:mouseenter={handleMouseEnter}
  on:mouseleave={handleMouseLeave}
  on:focusin={handleMouseEnter}
  on:focusout={handleMouseLeave}
  on:click={handleClick}
>
  {#if !define && hovered}
    <div class="flex justify-center">
      <div class="flex flex-col justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-trash"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="4" y1="7" x2="20" y2="7" />
          <line x1="10" y1="11" x2="10" y2="17" />
          <line x1="14" y1="11" x2="14" y2="17" />
          <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
          <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
        </svg>
      </div>
    </div>
  {:else}
      <div class="flex justify-center">
        {#if close}
          <div class="mr-1 text-3xl font-extralight text-red-600 ">
            {$accumulativeTomatoes}
          </div>
        {/if}
        <div class="flex flex-col justify-center">
          {@html icon[$buttonEvent]}
        </div>
      </div>
  {/if}
</button>

<style>
  .define {
    @apply bg-blue-gray-200;
  }

  .close {
    @apply bg-white-50 text-cool-gray-600 outline-none cursor-default;
  }

  .hovered {
    @apply bg-red-600 text-light-50 cursor-pointer;
    --tw-shadow-color: 15, 23, 42;
    --tw-shadow: inset 0 3px 0 0 rgba(var(--tw-shadow-color), 0.5);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
</style>
