<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  let floating = true;
  $: pressed = !floating
  $: clicked = pressed

  const handleMouseEnter = () => {
    floating= false
  }

  const handleMouseLeave = () => {
    floating = true
  }
</script>

<button
  id="declareTask"
  class:floating
  class:pressed
  class="w-full py-6 bg-light-50 text-blue-gray-400 rounded-2xl"
  on:mouseenter={handleMouseEnter}
  on:mouseleave={handleMouseLeave}
  on:focusin={handleMouseEnter}
  on:focusout={handleMouseLeave}
  on:click={() => {
    dispatch("declare")
  }}
>
  <div class="flex justify-center uppercase" class:clicked>
    <div class="mr-2" class:clicked>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-pencil"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
        <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
      </svg>
    </div>
    <div class="flex flex-col justify-center">
      <div class="text-2xl font-extralight">create a task</div>
    </div>
  </div>
</button>

<style>
  .floating {
    @apply cursor-pointer;
    --tw-shadow-color: 15, 23, 42;
    --tw-shadow: 0 4px 0 -1px rgba(var(--tw-shadow-color), 0.5),
      0 2px 4px -1px rgba(var(--tw-shadow-color), 0.5);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .pressed {
    @apply cursor-pointer;
    --tw-shadow-color: 15, 23, 42;
    --tw-shadow: inset 0 4px 0 0 rgba(var(--tw-shadow-color), 0.5);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .clicked {
    @apply text-red-600
  }
  .floating:focus, .pressed:focus, .clicked:focus {
    @apply outline-none
  }
</style>
