<script>
  import { tomatoes, estimatedGlobal } from "../store/current.js";
</script>

<div class="flex flex-col justify-center w-full h-full cursor-pointer font-Medium cursor-default">
  <div class="flex justify-center text-2xl">
    <div class="flex flex-col justify-end">
    <div class="text-red-600">
      {$tomatoes}
    </div>
    </div>
    <div class="flex flex-col justify-end">
    <div class="text-blue-gray-400 text-2xl">
      /{$estimatedGlobal} 
    </div>
    </div>
  </div>
</div>
