<div class="mb-3 cursor-default">
  <div class="flex">
    <div class="text-red-800 mr-2">
      <slot name="icon" />
    </div>
    <div class="text-sm pt-1 xl:pt-0  xl:text-base uppercase">
      <slot name="intro" />
    </div>
  </div>
  <p
    class="-ml-1 xl:ml-0  indent-lg xl:-ml-2 leading-tight font-extralight text-blue-gray-700"
  >
    <slot name="description" />
  </p>
</div>
