<script>
  import { createEventDispatcher } from "svelte";
  import { MinMaxChars } from "./script/validate";
  import TaskDeclareButton from "./component/TaskDeclareButton.svelte";
  import TaskButton from "./component/TaskButton.svelte";
  import { task, buttonEvent, isTodoDefined } from "./store/task.js";
  import { unix } from "./store/time.js";
  import { accumulativeTomatoes, session, timing, tomatoes } from "./store/current.js";

  let taskname = "";
  const state = {
    declared: false,
    defined: false,
  };
  const dispatch = createEventDispatcher();
  const taskButton = {
    define: {
      event: "define",
      next: "close",
    },
    close: {
      event: "close",
      next: "define",
    },
  };
  const validateTaskname = async () => {
    try {
      const empty = "tteka, don't you want to achieve something?";
      const cleanName = MinMaxChars("task name", taskname, 3, 75, {
        over: "",
        under: "",
        empty: empty,
      });
      return cleanName;
    } catch (e) {
      return Promise.reject(e);
    }
  };
  const updateTask = (name, opened) => {
    const updatedTask = {
      name: name,
      opened: opened,
    };
    task.update((cur) => {
      return updatedTask;
    });
  };

  const handleDefine = () => {
    validateTaskname()
      .then((clean) => {
        taskname = clean;
        const opened = $unix;
        updateTask(taskname, opened);
        updateTaskButton();
        session.set("working");
        tomatoes.set(0);
        state.defined = true;
        dispatch("define", $task);
      })
      .catch((e) => {
        alert(e);
        return;
      });
  };

  const handleClose = () => {
    if ($timing || $isTodoDefined) {
      return;
    }
    resetTask();
    dispatch("close");
  };

  const resetTask = () => {
    taskname = "";
    state.declared = false;
    state.defined = false;
    updateTask("", 0);
    updateTaskButton();
  };

  let input = false;
  const placeholderText = "what need to be done ?";
  let placeholder = placeholderText;

  const handleFocusIn = () => {
    input = true;
    placeholder = taskname === "" ? "..." : "";
  };

  const handleFocusOut = () => {
    input = false;
    placeholder = placeholderText;
  };
  $: named = taskname === "" ? false : true;

  const floated = true;

  const psuedoDefine = () => {
    taskname = $task.name
    updateTaskButton();
    session.set("working");
    tomatoes.set(0);
    state.declared = true
    state.defined = true;
  };
  const updateTaskButton = () => {
    buttonEvent.update((cur) => {
      return taskButton[cur].next;
    });
  };

  if ($task.opened != 0) {
    psuedoDefine();
  }
</script>

<div class="w-full h-auto">
  {#if !state.declared}
    <TaskDeclareButton
      on:declare={() => {
        state.declared = true;
      }}
    />
  {:else}
    <div class="flex bg-light-50 rounded-2xl overflow-hidden" class:floated>
      {#if !state.defined}
        <div class="flex-1 h-full">
          <input
            class="py-8 w-full outline-none text-2xl font-extralight indent-sm"
            class:input
            class:named
            type="text"
            name="task"
            bind:value={taskname}
            {placeholder}
            on:focusin={handleFocusIn}
            on:focusout={handleFocusOut}
          />
        </div>
        <TaskButton on:define={handleDefine} on:close={handleClose} />
      {:else}
        <div class="flex-1 h-full">
          <div
            class="py-8 text-2xl font-extralight indent-sm text-red-600 cursor-default"
          >
            {#if taskname.length < 30}
            {taskname}
            {:else}
            {taskname.slice(0,30)}...
            {/if}
          </div>
        </div>
        <TaskButton on:define={handleDefine} on:close={handleClose} />
      {/if}
    </div>
  {/if}
</div>

<style>
  .input:focus {
    @apply text-red-600 outline-none;
    --tw-shadow-color: 15, 23, 42;
    --tw-shadow: inset 0 3px 0 0 rgba(var(--tw-shadow-color), 0.5);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .named {
    @apply text-red-600;

  }
</style>
