<script>
  import { createEventDispatcher } from "svelte";
  import WelcomeItem from "./component/WelcomeItem.svelte";
  const dispatch = createEventDispatcher();
  const why = [
      {
        topic: "present",
        title: "to getting better at capturing the present",
        description:
          "Pomodoron is designed to be a tool that should be used on the most atomic part of todo. It is not designed to be a one-stop to-do tool.",
      },
      {
        topic: "complementary",
        title: "usage",
        description:
          "To get the best out of Pomodoron is to use it as a complementary of other todo tools. (e.g., Trello and others)",
      },
  ]
  const notice = [
      {
        topic: "localStorage",
        title: "saving session using Gun",
        description:
          "After the init database is clicked, Gun instance will be saved to your local storage. It can be deleted and re-initiated anytime.",
      },
      {
        topic: "notification",
        title: "work best with notification",
        description: "Pomodoron will be able to send notification only if notification permission is granted.",
      },
      {
        topic: "keyboardSupport",
        title: "fully support keyboard navigation",
        description: "Pomodoron can be navigated through a tab and shift+tab.",
      },
      /* { */
      /*   topic: "firefox", */
      /*   title: "visually tested on firefox", */
      /*   description: "Pomodoron will works well on most modern browsers but only visually tested on firefox and firefox for developer." */
      /* } */
  ]
  const noticeSvg = {
    localStorage: `
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-database"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <ellipse cx="12" cy="6" rx="8" ry="3" />
            <path d="M4 6v6a8 3 0 0 0 16 0v-6" />
            <path d="M4 12v6a8 3 0 0 0 16 0v-6" />
          </svg>
    `,
    notification: `
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-bell-ringing"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
            />
            <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
            <path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727" />
            <path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727" />
          </svg>
    `,
    keyboardSupport: `
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-keyboard"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="2" y="6" width="20" height="12" rx="2" />
            <line x1="6" y1="10" x2="6" y2="10" />
            <line x1="10" y1="10" x2="10" y2="10" />
            <line x1="14" y1="10" x2="14" y2="10" />
            <line x1="18" y1="10" x2="18" y2="10" />
            <line x1="6" y1="14" x2="6" y2="14.01" />
            <line x1="18" y1="14" x2="18" y2="14.01" />
            <line x1="10" y1="14" x2="14" y2="14" />
          </svg>
    `,
    firefox: `
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-firefox"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4.028 7.82a9 9 0 1 0 12.823 -3.4c-1.636 -1.02 -3.064 -1.02 -4.851 -1.02h-1.647"
            />
            <path
              d="M4.914 9.485c-1.756 -1.569 -.805 -5.38 .109 -6.17c.086 .896 .585 1.208 1.111 1.685c.88 -.275 1.313 -.282 1.867 0c.82 -.91 1.694 -2.354 2.628 -2.093c-1.082 1.741 -.07 3.733 1.371 4.173c-.17 .975 -1.484 1.913 -2.76 2.686c-1.296 .938 -.722 1.85 0 2.234c.949 .506 3.611 -.995 4.545 .354c-1.698 .102 -1.536 3.107 -3.983 2.727c2.523 .957 4.345 .462 5.458 -.34c1.965 -1.52 2.879 -3.542 2.879 -5.557c-.014 -1.398 .194 -2.695 -1.26 -4.75"
            />
          </svg>
    `,
  };
  const whyEmojis = {
    present: "📝",
    complementary: "🔧",

  }
  const noticeEmojis = {
    localStorage: "💾",
    notification: "🔔",
    keyboardSupport: "⌨️",
    firefox: "🦊",

  }
  export let buttonLabel;
  let hovered = false;
  $: floating = !hovered;
  const handleHoverIn = () => {
    hovered = true;
  };
  const handleHoverOut = () => {
    hovered = false;
  };
  let floated = true;
  let disable = false;
  const handleStart = () => {
    if (window.localStorage.length == 0) {
      disable = !disable;
    }
    dispatch("start");
  };
</script>

<div class="flex flex-col justify-center align-items w-full h-auto">
  <div>
    <div class="bg-light-50 mx-4 my-4 rounded-md" class:floated>
      <div class="pt-4 pb-4 px-4">
        <div class="pb-4">
          <h1>Why</h1>
          {#each why as why}
          <WelcomeItem>
            <span slot="icon">{@html whyEmojis[why.topic]}</span>
            <span slot="intro">{why.title}</span>
            <span slot="description">
              {why.description}
            </span>
          </WelcomeItem>
        {/each}
        </div>
        <div>
          <h1>Notice</h1>
          {#each notice as noti}
          <WelcomeItem>
            <span slot="icon">{@html noticeEmojis[noti.topic]}</span>
            <span slot="intro">{noti.title}</span>
            <span slot="description">
              {noti.description}
            </span>
          </WelcomeItem>
          {/each}
        </div>
        <div class="w-full text-right text-red-600 text-xs font-thin cursor-default">
        currently not supported on mobile
        </div>
      </div>
    </div>

    <div class="flex justify-end mx-4 my-4">
      {#if !disable}
        <button
          class="w-full p-4 text-sm xl:text-lg rounded-lg uppercase"
          class:hovered
          class:floating
          on:mouseenter={handleHoverIn}
          on:mouseleave={handleHoverOut}
          on:focusin={handleHoverIn}
          on:focusout={handleHoverOut}
          on:click={handleStart}>{buttonLabel}</button
        >
      {:else}
        <div class="lds-dual-ring" />
      {/if}
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
  * {
    font-family: "Open Sans", sans-serif;
  }

  h1 {
    @apply text-red-600 text-xl xl:text-2xl mb-2 cursor-default;
  }
  .floating {
    @apply bg-light-50;
    --tw-shadow-color: 15, 23, 42;
    --tw-shadow: 0 3px 0 0 rgba(var(--tw-shadow-color), 0.5),
      0 2px 4px -1px rgba(var(--tw-shadow-color), 0.08);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .hovered {
    @apply bg-red-600 text-blue-gray-50;
    --tw-shadow-color: 15, 23, 42;
    --tw-shadow: inset 0 3px 0 0 rgba(var(--tw-shadow-color), 0.5);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .hovered:focus,
  .floating:focus {
    @apply outline-none;
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #dc2626 transparent #dc2626 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
